.breadcrumb {
    background-color: transparent;
}

tr.filters input[type="text"], tr.filters select {
    height: 25px;
}
.user-footer{
	background-color: #333 !important;
}
.notifyjs-corner{
	top: 45px !important;
}
.dropdown-menu>li>a{
	background-color: #8F8F8F !important;	
	color: #ffffff !important;
}
.dropdown-menu>li>a:hover {
    background-color: #3c8dbc !important;
    box-shadow: 4px 4px 5px #999;
}
.lobibox-notify-wrapper.top {
    top: 50px !important;
}